.header {
	background-image: url(../Images/tech19First.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 1563px;

	@include phone {
		height: 100vh;
	}
}

.container {
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		#sec {
			display: inline-block;
			position: relative;
			padding-bottom: 4px;
			margin-bottom: 20px;
			
		  };
		
		  
		  #sec:after {
			content: '';
			display: block;
			margin: auto;
			height: 4px;
			width: 0px;
			background: $pink;  
			animation-name: border;
			animation-duration: 1s;
			animation-delay: 2s;
			animation-fill-mode: none;
			
		  };
		  @-webkit-keyframes border {
			to {width:40%};
			from {width: 0px;};
		
	   }
	
		&__logo {
			width: 548px;
			height: 236px;
			margin-right: 17rem;
			
			

			@include phone {
				width: 250px;
				height: 150px;
			}

			
			
	
		}
	

		&__main-introduction {
			font-family: $font_main;
			font-size: 2rem;
			line-height: 28px;
			color: $white;
			margin-left: 35rem;
			@include phone {
				margin: 0;
				width: 100%;
			}
			p {
				margin: 0;

				width: 60%;
				@include phone {
					font-size: 1.3rem;
					width: 100%;
				}
			}
		}
	}
}


