//fonts
$font_main: Arial, Helvetica, sans-serif;

//size media query
$phone:480px;

//colors
$pink:#AD2069;
$blue:#000A44;
$grey:#E8E7E5;
$white:#ffffff;

//weights
$regular:400;
$thin:300;
$bold: 700;

